@charset "UTF-8";


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #131414;
}

h1 {
    color: #FF4B4B;
}

header {
    width: 100%;
    background-color: rgb(47, 47, 47);
    border: 0px;
    border-radius: 20px;
}

main {
    margin-bottom: 300px;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: rgb(47, 47, 47);
    border: 0px;
}

footer > p {
    color: rgb(255, 255, 255);
    text-align: center;
}

nav a > img {
    vertical-align: middle;
    width: 23px;
    padding: 1px;
}

nav {
    padding-top: 20px;
    padding-left: 50px;
}

nav > a{
    padding: 5px;
    font-family: monospace;
    text-decoration: none;
    font-weight: bolder;
}

#MinhaFoto {
    width: 250px;
    display: flex;
    margin: auto;
    padding-top: 170px;
}

#downloadButton {
    background-color: yellowgreen;
    display: flex;
    height: 40px;
    width: 150px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}

.principal {
    text-align: center;
    font-size: 3em;
    color: rgb(230, 40, 40);
}

#cargo {
    text-align: center;
    font-size: 2;
    color: rgb(68, 48, 217);
    margin-top: 0px;
    font-weight: bolder;
}

a {
    color: #fd2020;
}

a:hover {
    color: #86004C;
}

.AboutMe {
    font-family: monospace;
    margin: 80px 500px;
    background-color: #211f1f;
    align-items: center;
    border-radius: 90px;
    padding-top: 5px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.AboutMe > h1 {
    font-size: 3em;
    text-align: center;
}

.AboutMe > p {
    font-size: 2em;
    text-align: center;
    color: #d0cdcd;
}

/* tecnologias */

.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies > h1 {
    color: #FF4B4B;
    font-size: 2.8em;
    padding-top: 100px;
    padding-bottom: 50px;
}

.tech-text > h2 {
    color: #139898;
}

.tech-text {
    color: #85C602;
    padding-bottom: 170px;
}

.tech-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    margin-bottom: 30px;
    background-color: rgb(26, 26, 26);
    padding: 20px;
    border-radius: 25px;
}

.tech-text {
    flex: 1;
    font-size: 1.5em;
}

.tech-logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.tech-item.reverse {
    flex-direction: row-reverse;
}

#html {
    height: 300px;
}