@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #131414;
}

h1 {
    color: #FF4B4B;
}

header {
    margin-right: 5px;
    margin-left: 5px;
    background-color: rgb(47, 47, 47);
    border: 0px;
    border-radius: 20px;
}

main {
    margin-bottom: 300px;
}

footer {
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: rgb(47, 47, 47);
    display: block;
}

footer > p {
    color: rgb(255, 255, 255);
    text-align: center;
}

nav a > img {
    vertical-align: middle;
    width: 23px;
    padding: 0px;
}

nav {
    padding-top: 20px;
    padding-left: 50px;
}

nav > a {
    padding: 10px;
    font-family: monospace;
    text-decoration: none;
    font-weight: bolder;
}

nav > p {
    display: inline-block;
    font-size: 1.5em;
}

nav > a > img {
    padding-right: 10px;
}

a {
    font-size: 1.5em;
    color: #fd2020;
}

a:hover {
    font-style: italic;
    text-decoration: underline;
    font-weight: bolder;
    color: #86004C;
}

#MinhaFoto {
    padding-top: 50px;
    width: 250px;
    display: flex;
    margin: auto;
}

#downloadButton {
    background-color: yellowgreen;
    height: 40px;
    width: 150px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-size: 1.7em;
    font-weight: bold;
}

#downloadButton:hover {
    font-style: italic;
    text-decoration: underline;
    font-weight: bolder;
    color: #86004C;
}

#ButtonBox {
    font-size: 1em;
    font-weight: bolder;
}

#PageName {
    font-family: "JetBrains Mono";
    font-weight: bolder;
    padding-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.4em;
}

#cargo {
    font-family: "jetBrains Mono";
    text-align: center;
    font-size: 2em;
    color: rgb(68, 48, 217);
    font-weight: bolder;
    margin-top: 0px;
}

.principal {
    margin-bottom: 0px;
    text-align: center;
    font-size: 4em;
    color: rgb(230, 40, 40);
}

.AboutMe {
    font-family: monospace;
    margin: 80px 500px;
    background-color: #211f1f;
    align-items: center;
    border-radius: 90px;
    padding-top: 5px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.AboutMe > h1 {
    font-size: 3em;
    text-align: center;
}

.AboutMe > p {
    font-size: 2em;
    text-align: center;
    color: #d0cdcd;
}

/* tecnologias */

.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies > h1 {
    color: #FF4B4B;
    font-size: 2.8em;
    padding-top: 100px;
    padding-bottom: 50px;
}

.tech-text > h2 {
    color: #139898;
}

.tech-text {
    color: #85C602;
    padding-bottom: 170px;
}

.tech-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    margin-bottom: 30px;
    background-color: rgb(26, 26, 26);
    padding: 20px;
    border-radius: 25px;
}

.tech-text {
    flex: 1;
    font-size: 1.5em;
}

.tech-logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.tech-item.reverse {
    flex-direction: row-reverse;
}

#html {
    height: 300px;
}