@media (max-width: 768px) {

    nav {
        padding-left: 0;
        text-align: center;
    }

    nav > a {
        display: block;
        padding: 10px;
    }

    #MinhaFoto {
        width: 180px;
        padding-top: 80px;
    }

    .principal {
        font-size: 2em;
    }

    #cargo {
        font-size: 1.2em;
    }

    .AboutMe {
        margin: 40px 20px;
        border-radius: 25px;
    }

    .AboutMe > h1 {
        font-size: 2em;
    }

    .AboutMe > p {
        font-size: 1.2em;
    }

    .tech-item,
    .tech-item.reverse {
        flex-direction: column;
        text-align: center;
    }

    .tech-logo,
    #html {
        width: 150px;
        height: auto;
    }

    .tech-text {
        font-size: 1.1em;
        padding-bottom: 40px;
    }
}