@charset "UTF-8";


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #131414;
    color: white;
}

a {
    color: #DF65AA;
}

a:hover {
    color: #86004C;
}

header {
    width: 100%;
    background-color: rgb(47, 47, 47);
    border: 0px;
    border-radius: 20px;
}

header > h1 {
    text-align: center;
    margin-top: 10px;
    color: #fd2020;
    font-size: 3.8em;
}

header > p {
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 25px;
    color: white;
}

h2 {
    color: #CB1A7E;
}

p {
    color: #FD8420
}

nav {
    padding-top: 20px;
    padding-left: 50px;
}

nav > a{
    padding: 5px;
    font-family: monospace;
    text-decoration: none;
    font-weight: bolder;
}